.miniCart {
    @include flex(row, wrap, space-between, flex-start, flex-start); 

    &__list-product {
        @include flex(row, wrap, space-between, flex-start, flex-start); 
    }

    &__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.025em;
        text-decoration-line: underline;
        color: #252525;
        position: relative;

        &:before {
            content: "";
            height: 19px;
            left: -31px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 19px;
            height: 19px;
            background-repeat: no-repeat;
            background-position: center;
 
        }

        &--cart {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.01em;
            
            &:before {
                background-image: url(../userfiles/cart.svg);
            }
        }

        &--favorites {
            
            &:before {
                background-image: url(../userfiles/favorite.svg);
            }
        }

        &--compare {
            
            &:before {
                background-image: url(../userfiles/compare.svg);
            }
        }
    }

    &__list {
        margin-right: 35px;
    }

    &__item {
        margin-bottom: 10px;
        padding-left: 30px;
    }

    &-product {
        
        &__item:not(:first-child) {
            margin-left: 15px;
        }

        &__picture {
            width: 70px;
            height: 70px;
            object-fit: cover;
            object-position: center;
            border: 1px solid #D9D9D9;
        }
    }
}

@media (max-width: $lg)  {
    
    .miniCart {

        &-product {
        
            &__item:not(:first-child) {
                margin-left: 10px;
            }
    
            &__picture {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width: $md)  {
    
    .miniCart {

        &__list {
            margin-right: 0px;

            &-product {
                display: none;
            }
        }
    }
}

@media (max-width: $xs)  {
    
    .miniCart {

        &__link {
            font-size: 0px;

            &--cart {
                font-size: 0px;
            }
        }

        &__list {
            @include flex(row, wrap, space-between, center, center); 
        }
    }
}